.image {
  width: 300px;
  height: 300px;
  border: 2px solid white;
}

p {
  color: white;
}

h1 {
  text-align: center;
  font-family: impact;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

ul {
  color: white;
}
.banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Swedish_police_dogs.jpg/1024px-Swedish_police_dogs.jpg) no-repeat center center fixed;
  background-size: cover;
}